*{margin: 0;padding: 0;}
body {
  background: #ddd;
}

#container
{
height: 600px;
width: 100%;
background-color: #ddd;
overflow: hidden;
position: relative;
#overflow-x: scroll;
  margin-top: 30px;
  display: inline-block;
}

#thumbs
{
background-color: #ddd;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: auto;
overflow: hidden;
white-space: nowrap;
padding: 30px 100px;
}

.history-block {
  height: 100%;
  width: 300px;
  background-color: #cdcdcd;
  margin: 0 -2px;
  border-right: 1px solid #fff;
  display: inline-block;
  font-family: 'roboto condensed', sans-serif;
  font-size:60px;
  font-weight: 100;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
  transition: width 0.2s;
}

.history-block:last-of-type {
  border-right: none;
}

.cover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
}

.cover:hover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
}

.year {
  position: absolute;
    top: 0px;
    font-size: 30px;
  font-weight:500;
    margin: 40px 30px;
}

.title {
  position: absolute;
  display: block;
  width: 260px;
    top: 60px;
    font-size: 15px;
    margin: 30px;
  white-space: normal;
  transition: width 0.2s;
}

.timeline {
  display:none;
  position: absolute;
  bottom: 80px;
    font-size: 20px;
    margin: 20px;
  transition: display 0.8s;
}

.timeline ul {
  margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  content: '\f10c';
  position: absolute;
  top: 30px;
  margin-left:10px;
  transition: all 0.5s;
}

.timeline ul li:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.5s;
}

.timelineYear, .timelineYear:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.8s;
}

.timeline ul li:hover:before {
  content: '\f111';
  color: #ffffff;
  font-size: 18px;
  transition: all 0.5s;
  top: 29px;
  margin-left:9px
}

.timeline ul li:hover:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.timeline ul li:hover .timelineYear {
  position: static;
  top:-10px;
}

.bg-1927 {
  background: url('https://images.fineartamerica.com/images-medium-large/1-newark-new-jersey-broad-street-ca-everett.jpg');
  background-size:cover;
}

.bg-1947 {
  background: url('http://www.alumni.nyu.edu/s/1068/images/editor/Connect%20Photos/2015/april/town-hall-exterior_lg.jpg');
  background-size:cover;
}

.bg-1948 {
  background: url('https://ak1.picdn.net/shutterstock/videos/4523531/thumb/4.jpg?i10c=img.resize(height:160)');
  background-size:cover;
}

.bg-1949 {
  background: url('https://www.citi.io/wp-content/uploads/2015/03/7-9.jpg');
  background-size:cover;
}

.bg-1952 {
  background: url('http://www.ecology.colostate.edu/images/feature/green.jpg');
  background-size:cover;
}


.bg-1957 {
  background: url('https://www.nycgo.com/images/venues/190/americanmuseumofnaturalhistory_marleywhite_8922__x_large.jpg');
  background-size:cover;
}

.bg-1958 {
  background: url('http://asabirds.org/wordpress/wp-content/uploads/2012/11/zaa1.gif');
  background-size:cover;
}

.bg-1959 {
  background: url('https://files.slack.com/files-pri/T0F1RNWJE-F983B3TAS/fullsizerender-1.jpg');
  background-size:cover;
}

.bg-1968 {
  background: url('http://lbry-web-007.amnh.org/digital/files/original/e8d8b7ecd98fcf95b519769c25fb7384.jpg');
  background-size:cover;
}

.bg-1970 {
  background: url('https://images-na.ssl-images-amazon.com/images/I/515Q6Q2j1DL._SY344_BO1,204,203,200_.jpg');
  background-size:cover;
}

.bg-1984 {
  background: url('https://images-na.ssl-images-amazon.com/images/I/51iFi46NJBL._SX373_BO1,204,203,200_.jpg');
  background-size:cover;
}

.bg-2003{
  background: url('https://upload.wikimedia.org/wikipedia/commons/6/63/Sunny_Day%2C_San_Francisco%2C_20_stores_up%2C_Beale_and_Mission_looking_onto_South_Beach%2C_California%2C_USA.jpg');
  background-size:cover;
}

